* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--color-header: #f4efec;
	--color-text: #cdc6c3;
	--gallery-gap: calc(var(--index) * 7.5)
	/* --side-small-H: 5;
	--side-big-H: 60;

	--transition: .75s cubic-bezier(.075, .5, 0, 1) */
}
@font-face {
	font-family: raleway-c;
	src: url(../fonts/raleway-v22-cyrillic-300.woff2);
}
@font-face {
	font-family: outfit-c;
src: url(../fonts/raleway-v22-cyrillic-100.woff2);
}
h1, h2, h3, h4, h5, h6 {
	font-family: outfit-c;
}
/* will-change */
.content, .hero, .main-header, .gallery, .plane > * {
	will-change: transform;
}
body {
	background-image: url(../img/bg.jpg);
	background-size: 50px;
	color: #fafafa;
	font-family: raleway-c;
	overflow-x: hidden;
}
.linkOff{
	text-decoration: none;
	color: #e6e6e6;
}
.linkOffBlack{
	text-decoration: none;
	color: #272727;
}
.linkOffYel{
	text-decoration: none;
	color: #e4a163;
}




.plane-section{
	height: 1180px;
	width: 100vw;

}
.plane{
	margin-top: 7vh;
	width: 99.7vw;
	position: absolute;
	z-index: -1;
}
.introduction{
	color: #bc8e6a;
	font-size: 9vh;
	position: absolute;
	left: 12vh;
	top: 20vh;
}




.roundimg {
    margin-top: 32%;
    height: 35%;
    width: 35%;
    display: inline-block;
    opacity: 0.8;
}

.questio{
	color: #272524;
	font-size: 2.6vh;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin-top: 0.8vh;

}



.acco{
	color: #272524;
	font-size: 2vh;
    cursor: pointer;
    position: absolute;
	right: 3vw;
    top: 2vh;
    text-decoration: none;
	
}




.login{
	color: #272524;
	font-size: 2vh;
    cursor: pointer;
    position: absolute;
	right: 3vw;
    top: 2vh;
    text-decoration: none;
}

.reg{
    color: #272524;
	font-size: 2vh;
    cursor: pointer;
    position: absolute;
	right: 7vw;
    top: 2vh;
    text-decoration: none;
}

.creators{
	color: #272524;
	font-size: 2vh;
    cursor: pointer;
    position: absolute;
    right: 35.3vw;
    top: 17vh;
    text-decoration: none;
}
.creatorsT{
	color: #272524;
	font-size: 1vh;
    cursor: pointer;
    position: absolute;
    right: 34.4vw;
    top: 20vh;
    text-decoration: none;
}
.creatorsR{
	background-color: f0eee9;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    position: absolute;
    right: 36vw;
    top: 9vh;
    border-style: solid;
    border-color: rgb(194, 192, 192);
	border-width: 0.1vh;
    text-align: center;
}
.line1{
	position: absolute;
	height: 0.4vh;
	width: 3.6vw;
	right: 35.7vw;
    top: 23vh;
	background: #83604f;
	border-radius: 10px;
}

.about{
	color: #272524;
	font-size: 2vh;
    cursor: pointer;
    position: absolute;
	right: 21vw;
    top: 17vh;
    text-decoration: none;
}
.aboutT{
	color: #272524;
	font-size: 1vh;
    cursor: pointer;
    position: absolute;
    right: 20vw;
    top: 20vh;
    text-decoration: none;
}
.aboutR{
	background-color: f0eee9;
	height: 5vh;
    width: 5vh;
    border-radius: 50%;
    position: absolute;
	right: 22vw;
    top: 9vh;
    border-style: solid;
    border-color: rgb(194, 192, 192);
	border-width: 0.1vh;
    text-align: center;
   
}
.line2{
	position: absolute;
	height: 0.4vh;
	width: 3.6vw;
	right: 21.6vw;
    top: 23vh;
	background: #83604f;
	border-radius: 10px;
}


.contacts{
	color: #272524;
	font-size: 2vh;
    cursor: pointer;
    position: absolute;
	right: 7.5vw;
	top: 17vh;
    text-decoration: none;
}
.contactsT{
	color: #272524;
	font-size: 1vh;
    cursor: pointer;
    position: absolute;
    right: 6.5vw;
	top: 20vh;
    text-decoration: none;
}
.contactsR{
	background-color: f0eee9;
	height: 5vh;
    width: 5vh;
    border-radius: 50%;
    position: absolute;
	right: 8vw;
    top: 9vh;
    border-style: solid;
    border-color: rgb(194, 192, 192);
	border-width: 0.1vh;
    text-align: center;
   
}
.line3{
	position: absolute;
	height: 0.4vh;
	width: 3.6vw;
	right: 7.6vw;
    top: 23vh;
	background: #83604f;
	border-radius: 10px;
}










.hero {
	width: calc(var(--index) * 26);
	position: absolute;
	left: 42.5vw;
	top: 190vh;
	z-index: -1;
}
.selector1{
	position: absolute;
	left: 51vw;
	top: 195vh;

	color: #fff;
    font-size: calc(var(--index) * 1.5);
    font-family: raleway_c, sans-serif;
    line-height: 1.75;
    font-weight: 300;

	background: none;
	text-align: right;
	width: 10vw;
	border-radius: 1vw;
}
.selector2{
	position: absolute;
	left: 63.5vw;
	top: 195vh;

	color: #fff;
    font-size: calc(var(--index) * 1.5);
    font-family: raleway_c, sans-serif;
    line-height: 1.75;
    font-weight: 300;

	background: none;
	text-align: left;
	width: 10vw;
	border-radius: 1vw;
}
.selector3{
	position: absolute;
	left: 51vw;
	top: 195vh;

	color: #fff;
    font-size: calc(var(--index) * 1.5);
    font-family: raleway_c, sans-serif;
    line-height: 1.75;
    font-weight: 300;

	background: none;
	text-align: right;
	width: 10vw;
	border-radius: 1vw;
}
.selector4{
	position: absolute;
	left: 51vw;
	top: 219vh;

	color: #fff;
    font-size: calc(var(--index) * 1.5);
    font-family: raleway_c, sans-serif;
    line-height: 1.75;
    font-weight: 300;

	background: none;
	text-align: right;
	width: 10vw;
	border-radius: 1vw;
}
.selector5{
	position: absolute;
	left: 63.5vw;
	top: 219vh;

	color: #ffffff;
    font-size: calc(var(--index) * 1.5);
    font-family: raleway_c, sans-serif;
    line-height: 1.75;
    font-weight: 300;

	background: none;
	text-align: left;
	width: 10vw;
	border-radius: 1vw;
}

.selector6{
	position: absolute;
	left: 74vw;
	top: 216vh;

	text-decoration: line-through;

	color: #fff;
    font-size: calc(var(--index) * 1.5);
    font-family: raleway_c, sans-serif;
    line-height: 1.75;
    font-weight: 300;

	background: none;
	text-align: left;
	width: 10vw;
	border-radius: 1vw;
}




.main-header {
	height: 100vh;
}

.container {
	padding: 0 7vw;
}
.main-title {
	font-size: calc(var(--index) * 8);
	position: absolute;
	width: min-content + 1vh;
	bottom: 12vh;
	line-height: .9;
}
.gallery {
	display: flex;
	padding: calc(var(--index) * 8) 0;
}
.gallery > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.gallery__item {
	max-width: calc(var(--index) * 21);
	margin-bottom: var(--gallery-gap);
	max-height: 180vh;
	border-radius: 8px;
}
.gallery__left {
	margin-top: calc(var(--gallery-gap) * 1.75);
}
.gallery__right .gallery__item {
	margin: 0;
	margin-top: var(--gallery-gap);
}
.text-block {
	color: var(--color-text);
	position: relative;
}
.text-block__h {
	font-size: 2rem;
	line-height: 2.4rem;
	color: var(--color-header);
	margin-bottom: 1.5rem;
}
.text-block__p {
	line-height: 1.75;
}



::-webkit-scrollbar{
 width: 15px;
}

::-webkit-scrollbar-track{
	background-image: url(../img/bg.jpg);
}
::-webkit-scrollbar-thumb{
	background: #83604f;
	border-radius: 8px;
	border: 3px solid #1d1d1d;
}

::-webkit-scrollbar-thumb:hover{
	background: #574035;
}




.aboutL{
	width: 100%;
	height: 11%;
}


.logoGray{
	position: relative;
	background-position: center;
	background-size: cover;
	margin-left: 33vw;
	margin-top: 45vh;

}
.scrolldown{
	margin-left: 49.5vw;
	margin-top: 35vh;

}



.ab1txt{
	color: #fff;
    font-size: calc(var(--index) * 1.3);
	font-family: 'Roboto', sans-serif;
    line-height: 1.75;
    font-weight: 300;

	position: absolute;
	margin-top: 21vh;
	margin-left: 8vw;
}
.ab12txt{
	color: #fff;
    font-size: calc(var(--index) * 1.3);
	font-family: 'Roboto', sans-serif;
    line-height: 2.75;
    font-weight: 300;

	position: absolute;
	margin-top: 14vh;
	margin-left: 80vw;
}

.ab2txt{
	color: #fff;
    font-size: calc(var(--index) * 1.3);
	font-family: 'Roboto', sans-serif;
    line-height: 1.75;
    font-weight: 300;

	position: absolute;
	margin-top: 20vh;
	margin-left: 60vw;
}
.ab3txt{
	color: #fff;
    font-size: calc(var(--index) * 1.3);
    font-family: 'Roboto', sans-serif;
    line-height: 1.75;
    font-weight: 300;

	position: absolute;
	margin-top: 36vh;
	margin-left: 70vw;
}

.ab3B{
	color: #fff;
    font-size: calc(var(--index) * .8);
    font-family: 'Roboto', sans-serif;
    line-height: 1.75;
    font-weight: 300;

	background-color: #1E1D1E;
	text-align: center;
	width: 13vw;
	border-radius: 1vw;
	position: absolute;
	margin-top: 59vh;
	margin-left: 70vw;
}
.ab32B{
	color: #fff;
    font-size: calc(var(--index) * .8);
	font-family: 'Roboto', sans-serif;
    line-height: 1.75;
    font-weight: 300;
	
	background-color: #1E1D1E;
	text-align: center;
	width: 13vw;
	border-radius: 1vw;
	position: absolute;
	margin-top: 66vh;
	margin-left: 70vw;
}


.ab1img{
	width: 101vw;
}
.ab2img{
	width: 101vw;
}
.ab3img{
	width: 101vw;
}





.accWel{
	font-size: 6vh;
	font-family: 'Roboto', sans-serif;
    line-height: 1.75;
	background: linear-gradient(45deg, #e4a163 33%, #b77546 66%, #a15f34);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
 	display: table;

	position: absolute;
	top: 42vh;
	right: 12vw;
	
	text-transform: uppercase;
	font-weight: 400;
}

.logoGrayAbb{
	position: relative;
	background-position: center;
	background-size: cover;
	margin-left: 33vw;
	margin-top: 45vh;
	opacity: 0%;

}








.acc1sect{
	background-color: #c4976d;
	height: 72vh;

}

.acc2sect{
	background-color: #1e1d1e;
	height: 72vh;
}

.acc3sect{
	background-color: #c4976d;
	height: 85vh;

}

.prr{
	font-size: 7vh;
	
    line-height: 1;
	background: linear-gradient(45deg, #1f1e1e 33%, #1f1e1e 66%, #1f1e1e);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
 	display: table;

	position: absolute;
	top: 126vh;
	left: 60vw;
	
	text-transform: uppercase;
	font-weight: 400;
}

.active{
	font-size: 7vh;
	
    line-height: 1.75;
	background: linear-gradient(45deg, #eea561 33%, #b77546 66%, #a15f34);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
 	display: table;

	position: absolute;
	top: 138vh;
	left: 60vw;
	
	
	text-transform: uppercase;
	font-weight: 400;
}




.accLout{
	font-size: 3vh;
	font-family: 'Roboto', sans-serif;
    line-height: 1.75;
	background: linear-gradient(45deg, #e4a163 33%, #b77546 66%, #a15f34);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
 	display: table;

	position: absolute;
	top: 52vh;
	right: 12vw;
	
	text-transform: uppercase;
	font-weight: 400;
}


.crown{
	position: absolute;
	top: 104vh;
	left: 24vw;
	width: 33vw;
}


.acc31sect{
	font-size: 7vh;
	
    line-height: 1;
	background: linear-gradient(45deg, #1f1e1e 33%, #1f1e1e 66%, #1f1e1e);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
 	display: table;

	position: absolute;
	top: 271vh;
	left: 60vw;
	
	text-transform: uppercase;
	font-weight: 400;
}

.acc32sect{
	font-size: 7vh;
	
    line-height: 1.75;
	background: linear-gradient(45deg, #eea561 33%, #b77546 66%, #a15f34);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
 	display: table;

	position: absolute;
	top: 276vh;
	left: 60vw;
	
	
	text-transform: uppercase;
	font-weight: 400;

}

.acc33sect{
	font-size: 7vh;
	
    line-height: 1;
	background: linear-gradient(45deg, #1f1e1e 33%, #1f1e1e 66%, #1f1e1e);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
 	display: table;

	position: absolute;
	top: 286vh;
	left: 60vw;
	
	text-transform: uppercase;
	font-weight: 400;
}



.ticket{
	position: absolute;
	top: 258vh;
	left: 20vw;
	width: 33vw;
}


.activeM{

	position: absolute;
	left: 48vw;
	top: 195vh;

	color: #fff;
    font-size: calc(var(--index) * 1.5);
    font-family: raleway_c, sans-serif;
    line-height: 1.75;
    font-weight: 300;

	background: none;
	text-align: right;
	width: 10vw;
	border-radius: 1vw;


	font-size: calc(var(--index) * 8);
	width: min-content + 1vh;
	line-height: .9;


	background: linear-gradient(45deg, #eea561 33%, #b77546 66%, #88522e);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
 	display: table;
	
}

.rightACC{
	text-align: right;
	color: #e2e2e2;

	font-size: calc(var(--index) * 3);

	width: min-content;
}

.goba{
	position: absolute;
	left: 70vw;
	width: 6vw;
	text-align: right;
	font-size: calc(var(--index) * 1);
}

.orderHis{
	font-size: calc(var(--index) * 3);

	width: min-content;
}

.ord{
	font-size: calc(var(--index) * 1);

}



.historTxt{
	font-size: calc(var(--index) * 1);
}





.tickAcc{
	margin-top: 20vh;
}

.iconForm{
    position: absolute;
    height: 6vw;
    top: 1vh;
    left: 2vw;
}

.iconForm2{
    position: absolute;
    height: 12vw;
    top: 80vh;
    left: 25vw;
}


.premiumSelect{
	width: calc(var(--index) * 35);
	position: absolute;
	left: 51vw;
	top: 182.5vh;
	z-index: -1;
}

.selector7{
	position: absolute;
	left: 75vw;
	top: 193.5vh;

	color: #fff;
    font-size: calc(var(--index) * 1.5);
    font-family: raleway_c, sans-serif;
    line-height: 1;
    font-weight: 300;

	background: none;
	text-align: center;
	width: 10vw;
	border-radius: 1vw;
}

.selector8{
	position: absolute;
	left: 75vw;
	top: 219vh;

	color: #fff;
    font-size: calc(var(--index) * 1.5);
    font-family: raleway_c, sans-serif;
    line-height: 1;
    font-weight: 300;

	background: none;
	text-align: center;
	width: 10vw;
	border-radius: 1vw;
}

