<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="img/icon.png">
    <title>SkyLink Airlines</title>
   

    <link rel="stylesheet" href="css/main.css">
    <script src="jsp/app.js" defer></script>

</head>
<body style="background-color: #1E1D1E;
color: #fff;
font-size: calc(var(--index) * .8);
font-family: raleway_c, sans-serif;
line-height: 1.75;
height: 85vh;
font-weight: 300;">


<div><img src="img/logoGray.png" alt="" class="logoGray"></div>

<div data-v-3699c9a0 data-v-4d5efaa8 class="scrolldown">
    <svg data-v-3699c9a0 version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         x="0px" y="0px" width="28.5px" height="43.5px" viewBox="0 0 28.5 43.5" enable-background="new 0 0 28.5 43.5"
         xml:space="preserve">
	<g data-v-3699c9a0>

		<path data-v-3699c9a0 fill="none" stroke="#d39459" stroke-width="3"
              d="M14.415,41.848L14.415,41.848C7.587,41.848,2,36.261,2,29.433V14.415 C2,7.587,7.587,2,14.415,2h0c6.828,0,12.415,5.587,12.415,12.415v15.019C26.829,36.261,21.243,41.848,14.415,41.848z"></path>

        <line data-v-3699c9a0 id="dropdown-point" x1="14.415" y1="12.408" x2="14.415" y2="12.408" stroke="#d39459"
              stroke-width="5" stroke-linecap="round">
	
	<animate data-v-3699c9a0 id="animation1" attributeName="y2" dur="3s"
             values="12.408; 12.408; 12.408; 15.908; 19.408; 19.408; 23.408; 23.408; 23.408; 23.408; 23.408"
             repeatCount="indefinite" begin="0s" fill="freeze"></animate>


            <animate data-v-3699c9a0 id="animation2" attributeName="y1" dur="3s"
                     values="12.408; 12.408; 12.408; 12.408; 12.408; 12.408; 23.408; 23.408; 23.408; 23.408; 23.408"
                     repeatCount="indefinite" begin="0s" fill="freeze"></animate>


            <animate data-v-3699c9a0 id="animation3" attributeName="opacity" dur="3s"
                     values="0; 1; 1; 1; 1; 1; 1; 1; 1; 0; 0;" repeatCount="indefinite" begin="0s"
                     fill="freeze"></animate>
	</line>
	</g>
	</svg>
</div>


<div class="aboutL"></div>
<div><p class="ab1txt">Наши премиум клиенты <br> получают набор для <br> комфортного перелета.</p>
    <p class="ab12txt">·Тапки <br> ·Крем <br> ·Маска для лица <br> ·Подарочная карта</p></div>
<div><img src="img/about/ab1.png" alt="" class="ab1img">
    <p class="ab2txt">Мобильная версия приложения будет представлена здесь в ближайшее время.</p></div>
<div><img src="img/about/ab2.png" alt="" class="ab2img">
    <div><p class="ab3txt">Найдите нас в социальных сетях или вернитесь на главную страницу.</p>
        <div class="ab3B"><a th:href="@{/contacts}" class="linkOff">контакты</a></div>
        <div class="ab32B"><a th:href="@{/main}" class="linkOff">на главную</a></div>
    </div>
</div>
<div><img src="img/about/ab3.png" alt="" class="ab3img"></div>


</body>
</html>

















