<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-N2CCEL3TPS"></script>
	<script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-N2CCEL3TPS');
	</script>
	<link rel="icon" type="image" href="img/work/icon.jpg">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Account</title>
	<link rel="icon" type="image" href="img/icon.png">

	<script src="libs/gsap/gsap.min.js" defer></script>
	<script src="libs/gsap/ScrollTrigger.min.js" defer></script>
	<script src="libs/gsap/ScrollSmoother.min.js" defer></script>

	<link rel="stylesheet" href="css/main.css">
	<script src="js/app.js" defer></script>

</head>
<body>


	<div class="wrapper">
		<div class="content">

			<header class="plane-section">

				
				<a th:href="@{/main}"> <img src="img/icon.png" alt="" class="iconForm"></a>
<div> <p class="accWel">Добро пожаловать в ваш личный кабинет</p><img src="img/logoGray.png" alt="" class="logoGrayAbb"></div>
<a th:if="${user} != null" th:href="@{/logout}" class="accLout">Выйти</a>
<p th:if="${error} != null" th:text="${error}"></p>

<div data-v-3699c9a0 data-v-4d5efaa8 class="scrolldown">
	<svg data-v-3699c9a0 version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28.5px" height="43.5px" viewBox="0 0 28.5 43.5" enable-background="new 0 0 28.5 43.5" xml:space="preserve">
	<g data-v-3699c9a0>

		<path data-v-3699c9a0 fill="none" stroke="#d39459" stroke-width="3" d="M14.415,41.848L14.415,41.848C7.587,41.848,2,36.261,2,29.433V14.415 C2,7.587,7.587,2,14.415,2h0c6.828,0,12.415,5.587,12.415,12.415v15.019C26.829,36.261,21.243,41.848,14.415,41.848z"></path>
	
		<line data-v-3699c9a0 id="dropdown-point" x1="14.415" y1="12.408" x2="14.415" y2="12.408" stroke="#d39459" stroke-width="5" stroke-linecap="round">
	
	<animate data-v-3699c9a0 id="animation1" attributeName="y2" dur="3s" values="12.408; 12.408; 12.408; 15.908; 19.408; 19.408; 23.408; 23.408; 23.408; 23.408; 23.408" repeatCount="indefinite" begin="0s" fill="freeze"></animate>
	
	
	<animate data-v-3699c9a0 id="animation2" attributeName="y1" dur="3s" values="12.408; 12.408; 12.408; 12.408; 12.408; 12.408; 23.408; 23.408; 23.408; 23.408; 23.408" repeatCount="indefinite" begin="0s" fill="freeze"></animate>
	
	
	<animate data-v-3699c9a0 id="animation3" attributeName="opacity" dur="3s" values="0; 1; 1; 1; 1; 1; 1; 1; 1; 0; 0;" repeatCount="indefinite" begin="0s" fill="freeze"></animate>
	</line>
	</g>
	</svg>
	</div>
			</header>




			<div class="hero-section">
				<div data-speed=".6" class="activeM"> <a th:if ="${userStat == false}" href="" class="linkOff">не активен</a> </div>
				<div data-speed=".6" class="activeM"> <a th:if ="${userStat}" href="" class="linkOff">активен</a> </div>


				<div class="container">
					<div data-speed=".75" class="main-header">
						<h1 class="main-title">премиум <br> статус</h1>

					</div>
					
					 
				</div>
				
			
			</div>
		
			<div class="portfolio">
				<div class="container">
					<main class="gallery">
	
						<div data-speed=".9" class="gallery__left">
		
							
							<div class="gallery__item, historTxt">
								<h2>История:</h2>
								<th:block th:each="history : ${historyList}">
									<p>Пункт отправления:</p> <p th:text="${history.departureP}"></p> <p>Пункт прибытия: </p> <p th:text="${history.destinationP}"></p> ДАТА: <p th:text="${history.departureTime}"></p>ЦЕНА:<p th:text="${history.price}"></p> 
								

								</th:block>

								



								
							</div>
					
		
							<div class="text-block gallery__item">
								<h2 class="text-block__h, rightACC">Для <br> премиум пользователей <br>   у нас есть <br> дополнительные направления <br> на главной <br> <br> -> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </h2>
								<a th:href="@{/main}"> <img src="img/iconW.png" alt="" class="iconForm2"></a>
									
							</div>
		
		
						</div>

						<div data-speed="1.1" class="gallery__right">
		
							<div class="text-block gallery__item">
								<h2 class="text-block__h, orderHis">Ваша история заказов</h2>
								<p class="text-block__p">Просмотрите историю своих заказов и еще раз вспомните свои путешествия.</p>
							</div>

							
							<img src="img/ticket-512 (1).png" alt="Alt" class="gallery__item, tickAcc">
				
		
						</div>

					</main>
				</div>
			</div>

		</div>
	</div>

</body>
</html>