<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>SkyLink Airlines</title>
	<link rel="icon" type="image" href="img/icon.png">

	<link rel="stylesheet" href="cssp/main.css">
	<script src="jsp/app.js" defer></script>

</head>
<body style="background-color: #000;
color: #fff;
font-size: calc(var(--index) * .8);
font-family: raleway_c, sans-serif;
line-height: 1.75;
height: var(--depth);
font-weight: 300;">

	<div class="container">
		<section class="gallery">



			
			<div class="frame">
				<div class="frame__content text-left">
					<h3>самолеты для ваших путешествий</h3>
					<p>Вот самолеты, осуществляющие авиаперевозки для наших клиентов. Теперь вы можете быть уверены, что ваш авиаперелет будет комфортным.</p>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<div class="frame-media frame-media_right" style="background-image: url(img/icon.png)"></div>
				</div>
			</div>





			<div class="frame">
				<div class="frame__content text-right">
					<h3>bombardier global 7500</h3>
					<p>Bombardier Global 7500 и Global 8000 — сверхдальнемагистральные бизнес-джеты , разработанные компанией Bombardier Aviation ранее Bombardier Aerospace. Global 7500 можно смело назвать домом в небе. Салон состоит из 4 частей: кухня и зона отдыха экипажа, пассажирский салон, салон для просмотра кино и спальня. На борту так же есть туалетная комната с душевой кабиной.</p>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<div class="frame-media frame-media_left" style="background-image: url(img/airplanes/jet\ front.png)"></div>
				</div>
			</div>




			<div class="frame">
				<div class="frame__content text-left">
					<h3>boeing 676</h3>
					<p>Lorem ipsum dolor sit amet, consectetur elit. Rerum dolorem assumenda consequatur dicta error iure laboriosam temporibus omnis quae eaque aliquam esse unde accusamus dolores non soluta.</p>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<div class="frame-media frame-media_right" style="background-image: url(img/airplanes/air.jpg)"></div>
				</div>
			</div>





			<div class="frame">
				<div class="frame__content text-right">
					<h3>bombardier global 7500</h3>
					<p>Lorem ipsum dolor sit amet, consectetur elit. Rerum dolorem assumenda consequatur dicta error iure laboriosam temporibus omnis quae eaque aliquam esse unde accusamus dolores non soluta.</p>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<div class="frame-media frame-media_left" style="background-image: url(img/airplanes/jetgreen.png)"></div>
				</div>
			</div>




			<div class="frame">
				<a th:href="@{/main}" class="goBack frame__content"> вернуться на главную страницу </a>
			</div>

		</section>
	</div>

</body>
</html>