<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>SkyLink Airlines</title>
	<link rel="icon" type="image" href="img/icon.png">

	<link rel="stylesheet" href="cssp/main.css">
	<script src="jsp/app.js" defer></script>

</head>
<body style="background-color: #000;
color: #fff;
font-size: calc(var(--index) * .8);
font-family: raleway_c, sans-serif;
line-height: 1.75;
height: var(--depth);
font-weight: 300;">

	<div class="container">
		<section class="gallery">



			
			<div class="frame">
				<div class="frame__content text-left text-bottom ">
					<p>Россия <br> г.Воронеж, ул. Плехановская, д.1</p>
				</div>
				<div class="frame__content text-right text-bottom">
					<p>+7800321333 <br> SkyLink@gmail.com</p>
					<a href="https://web.telegram.org/a/"> <img src="img/teleg.png" alt="" class="telegL"></a>
			
					<a href="https://vk.com/"> <img src="img/vk.png" alt="" class="vkL"></a>
		
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<div class="frame-mediaHorizontal frame-media_top" style="background-image: url(img/logo.png)"></div>
				</div>
			</div>

		




			<div class="frame">
				<a th:href="@{/main}" class="goBack frame__content"> вернуться на главную страницу </a>
			</div>




		

		</section>
	</div>

</body>
</html>