<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <link rel="stylesheet" href="cssform/main.css">
  <link rel="icon" type="image" href="img/icon.png">
  <title>SkyLink Airlines</title>
</head>
<body>


    <section>
        <a th:href="@{/main}"> <img src="img/iconW.png" alt="" class="iconForm"></a>
        <div class="form-boxQr">
            <div class="form-value">
                <form action="">
                  
                    <h2>Скидка применена </h2>
                    <h2>Ваша скидка:</h2>
                    <h2>3000₽</h2>
                    <img src="img/qrCode.png" alt="" class="qrCod">
                </form>
            </div>
        </div>
        <a th:href="@{/main}"> <img src="img/wharrow.png" alt="" class="arrow2"></a>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>