<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>SkyLink Airlines</title>
	<link rel="icon" type="image" href="img/icon.png">

	<script src="libs/gsap/gsap.min.js" defer></script>
	<script src="libs/gsap/ScrollTrigger.min.js" defer></script>
	<script src="libs/gsap/ScrollSmoother.min.js" defer></script>

	<link rel="stylesheet" href="css/main.css">
	<script src="js/app.js" defer></script>

</head>
<body>


	<div class="wrapper">
		<div class="content">

			<header class="plane-section">
				<img data-speed=".6" class="plane" src="img/Land.png" alt="Alt" >
				
				<h5 class="introduction">SkyLink Airlines</h5>

				<div>
					
					<h6 class="login" th:if="${authorized} == false"> <a th:href="@{/log}" class="linkOffBlack">войти</a> </h6> 
					<h6 class="reg" th:if="${authorized} == false"> <a th:href="@{/reg}" class="linkOffBlack">регистрация</a> </h6> 
					<h6 class="login" th:if="${authorized} == true"> <a th:href="@{/account}" class="linkOffBlack">личный кабинет</a> </h6> 
					
					


					<a th:href="@{/airplanes}"><div class="creatorsR"><img src="img\airpng.png" alt="" class="roundimg" ></div></a>
					<h6 class="creators">самолеты</h6>
					<p class="creatorsT">узнайте больше о самолетах</p>
					<div class="line1"></div>
					<a th:href="@{/about}"><div class="aboutR"><p class="questio">?</p></div></a>
					<h6 class="about">о компании</h6>
					<p class="aboutT">узнайте больше о компании</p>
					<div class="line2"></div>
					<a th:href="@{/contacts}"><div class="contactsR"><img src="img\maill.png" alt="" class="roundimg" ></div></a>
					<h6 class="contacts">контакты</h6>
					<p class="contactsT">посмотрите наши контакты</p>
					<div class="line3"></div>
				</div>
			</header>

			<div class="hero-section">

				<img th:if ="${userStat}" data-speed=".6" class="premiumSelect" src="img/select3.png" alt="Alt" >
				
				<img data-speed=".6" class="hero" src="img/select2.png" alt="Alt" >
			
				
				<div class="container">
					<div data-speed=".75" class="main-header">
						<h1 class="main-title">выберите страну</h1>
					</div>
					
					 
				</div>
				<div data-speed=".6" class="selector2"> <a th:href="@{/Canada}" class="linkOff">Канада</a></div>
				<div data-speed=".6" class="selector3"> <a th:href="@{/Italy}" class="linkOff">Италия</a> </div>
				<div data-speed=".6" class="selector4"> <a th:href="@{/Greece}" class="linkOff">Греция</a> </div>
				<div data-speed=".6" class="selector5"> <a th:href="@{/Spain}" class="linkOff">Испания</a> </div>



				<div th:if ="${userStat}" data-speed=".6" class="selector7"> <a th:href="@{/CanadaPremium}" class="linkOff">Канада <br>Премиум</a> </div>
				<div th:if ="${userStat}" data-speed=".6" class="selector8"> <a th:href="@{/GreecePremium}" class="linkOff">Греция<br>Премиум</a> </div>
			</div>
		
			<div class="portfolio">
				<div class="container">
					<main class="gallery">
	
						<div data-speed=".9" class="gallery__left">
		
							<a th:href="@{/Canada}"> <img class="gallery__item" src="img/work/can1.jpg" alt="Alt"> </a>
							<img class="gallery__item" src="img/work/can211.jpg" alt="Alt">
		
							<div class="text-block gallery__item">
								<h2 class="text-block__h">Греция - твоя восхитительная одиссея</h2>
								<p class="text-block__p">Вы все еще думаете, что это страна прошлого и мифов? Вы нашли еще один миф, теперь она изобилует концертами и художественными выставками.</p>
								<a th:href="@{/Greece}" class="linkOff" >Перейти на страницу Греции -></a>
							</div>
		
							<img class="gallery__item" src="img/work/gree.jfif" alt="Alt">


							<img class="gallery__item" src="img/work/ital.jfif" alt="Alt">
							<img class="gallery__item" src="img/work/ital2.png" alt="Alt">
							<img class="gallery__item" src="img/work/spa1.jfif" alt="Alt">
		
						</div>



						<div data-speed="1.1" class="gallery__right">
		
							<div class="text-block gallery__item">
								<h2 class="text-block__h">Канада - сила природы и торжество цивилизации</h2>
								<p class="text-block__p">Затеряйтесь на природе или согрейте свое сердце на канадских выступлениях, здесь вы почувствуете полную свободу.</p>
								<a th:href="@{/Canada}" class="linkOff" >Перейти на страницу Канады -></a>


							</div>
		
							<img class="gallery__item" src="img/work/can3.jpg" alt="Alt">
							<img class="gallery__item" src="img/work/gree2.png" alt="Alt">
							<img class="gallery__item" src="img/work/gree1.jfif" alt="Alt">




							<img class="gallery__item" src="img/work/ital1.jfif" alt="Alt">

							<div class="text-block gallery__item">
								<h2 class="text-block__h">Италия - Искушай, исследуй, влюбись!</h2>
								<p class="text-block__p">Погрузитесь в непревзойденное искусство, историю и архитектуру Италии, где каждый уголок кричит о величии прошлого. Отведайте изысканную кулинарию, насладитесь ароматными итальянскими блюдами и уникальными винами, которые окутывают вас нежностью и страстью. Встретьте итальянскую страсть и гостеприимство.</p>
								<a th:href="@{/Italy}" class="linkOff" >Перейти на страницу Италии -></a>
							</div>

							<img class="gallery__item" src="img/work/spa2.jfif" alt="Alt">

							<div class="text-block gallery__item">
								<h2 class="text-block__h">Испания - Пламенная страсть</h2>
								<p class="text-block__p">Испания: Искренняя страсть, вдохновляющая сердца. Присоединяйтесь к этому празднику жизни. </p>
								<a th:href="@{/Spain}" class="linkOff" >Перейти на страницу Испании -></a>
							</div>


							<img class="gallery__item" src="img/work/spa.jfif" alt="Alt">
		
						</div>

					</main>
				</div>
			</div>

		</div>
	</div>

</body>
</html>