<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>SkyLink Airlines</title>
	<link rel="icon" type="image" href="img/icon.png">

	<link rel="stylesheet" href="cssp/main.css">
	<script src="jsp/app.js" defer></script>

</head>
<body style="background-color: #000;
color: #fff;
font-size: calc(var(--index) * .8);
font-family: raleway_c, sans-serif;
line-height: 1.75;
height: var(--depth);
font-weight: 300;">


	<div class="container">
		<section class="gallery">





	<div class="frame">
		<a th:href="@{/main}"> <img src="img/iconW.png" alt="" class="iconFB"></a>
	
		<div class="frame__content text-right">
			<div class="frame frame_bg">
				<div class="frame__content">
					<div class="form-box">
						<div class="form-value">
							<form method="post" th:action="${#httpServletRequest.requestURI}">
								<h2>Выберите билет</h2>
								
								<select name="selectorName" id="" class="selectorNa">
									<th:block th:each="dest : ${destP}">
										<option th:value="${dest.destinationP}" th:text=${dest.destinationP}></option>
									</th:block>
								</select>

			
								<button th:if="${user } != null" type="submit">Выбрать</button>
								<div class="register">
									<p>Нет аккаунта? <a th:href="@{/reg}">Зарегистрировать</a></p>
							
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>









	<div class="frame">
		<div class="frame__content text-left">
			<h3>Канада Мероприятия</h3>
			<p>На этой странице вы сможете ознакомиться с ближайшими мероприятиями, проходящими в Канаде. А также посетить фотогалерею, где мы выбрали самые колоритные и запоминающиеся фотографии специально для вас.</p>
		</div>
	</div>

	<div class="frame frame_bg">
		<div class="frame__content">
			<div class="frame-media frame-media_right" style="background-image: url(img/canLast3.jfif)"></div>
		</div>
	</div>










			<div class="frame">
				<div class="frame__content text-right">
					<h3>12 июля показ мод</h3>
					<p>Раф Симонс и Миучча Прада продолжили тематику предыдущей коллекции. Моя любовь сеты с юбкой из полупрозрачных материалов, которые хочется добавить в свой гардероб уже сейчас. Успейте посетить эту выставку в Калгари.</p>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<div class="frame-media frame-media_left" style="background-image: url(img/work/fash.jpg)"></div>
				</div>
			</div>




			<div class="frame">
				<div class="frame__content text-left">
					<h3>31 июня выставка дополненной реальности</h3>
					<p>Приглашаем вас отправиться в Канаду и погрузиться в удивительный мир дополненной реальности на специальной выставке, где вы сможете пережить невероятные приключения и насладиться уникальными визуальными впечатлениями.</p>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<div class="frame-media frame-media_right" style="background-image: url(img/work/real.jpg)"></div>
				</div>
			</div>
















			<div class="frame">
				<div class="frame__content">
					<h2>фотогалерея</h2>
				</div>
			</div>

			<div class="frame">
				<div class="frame__content">
					<div class="frame-media frame-media_left" style="background-image: url(img/1.jpg)"></div>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<video class="frame-media frame-media_right" src="media/video_optimized.mp4" autoplay loop muted></video>
				</div>
			</div>

			<div class="frame"></div>

			<div class="frame">
				<div class="frame__content text-right">
					<h3>Невероятная природа</h3>
					<p>Приглашаем вас познакомиться с красотами Канады и изучить её захватывающую природу во всех её проявлениях. От величественных горных пейзажей до бескрайних лесов и кристально чистых озер – Канада удивит вас своей разнообразностью. Путешествуйте по национальным паркам, восхищайтесь водопадами, встречайте местную фауну и погружайтесь в гармонию с природой, которую можно найти только здесь, в Канаде.</p>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<div class="frame-media frame-media_left" style="background-image: url(img/2.jpg)"></div>
				</div>
			</div>

			<div class="frame"></div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<div class="frame-media frame-media_right" style="background-image: url(img/3.jpg)"></div>
				</div>
			</div>

			<div class="frame"></div>

			<div class="frame">
				<div class="frame__content text-left">
					<h3>Величественные горы</h3>
					<p>Отправляйтесь в Канаду и раскройте тайны её величественных гор. От Изумрудной островной горы в Британской Колумбии до величественного Канадского Щита на востоке страны, Канада предлагает неповторимые возможности для изучения и покорения горных вершин.</p>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<div class="frame-media frame-media_right" style="background-image: url(img/4.jpg)"></div>
				</div>
			</div>

			<div class="frame">
				<div class="frame__content">
					<video class="frame-media frame-media_left" src="media/video_optimized.mp4" autoplay loop muted></video>
				</div>
			</div>

			<div class="frame"></div>
			<div class="frame"></div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<div class="frame-media frame-media_right" style="background-image: url(img/5.jpg)"></div>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<video class="frame-media" src="media/video_optimized.mp4" autoplay loop muted></video>
				</div>
			</div>


			<div class="frame">
				<a th:href="@{/main}" class="goBack frame__content"> вернуться на главную страницу </a>
			</div>

		</section>
	</div>

</body>
</html>